@model EnterChatWeb.Models.Company
@using System.Security.Claims

<head>
    <title>Панель администратора</title>
</head>

<nav class="navbar page-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3>Панель администрирования</h3>
        </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right:260px; margin-top:10px;">
            <li class="dropdown">
                <a class="dropdown-toggle" id="my-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-action="EditCompany" class="main-menu-list-item" asp-controller="Data"
                           asp-route-id="@Model.ID">Изменить данные компании</a></li>
                    <li><a asp-action="AddWorker" class="main-menu-list-item">Добавить сотрудника</a></li>
                    <li><a asp-action="AddDep" class="main-menu-list-item">Добавить отдел</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="first-head">

<div class="container-fluid info-card">
    <div class="container-fluid info-shit">
        <h2>Информация</h2>
        <p>Название компании: @Model.Title</p>
        <p>Адрес корпоративной почты: @Model.WorkEmail</p>
        <p>Дата регистрации: @Model.CreationDate</p>
    </div>
</div>
</div>
<div class="container-fluid info-card">
    <div class="container-fluid info-shit">

        <h2>
            Список отделов и работников
        </h2>
        <div class="container-fluid">
            @foreach (var item in Model.Departments)
            {
                <h3>@item.Title <small>Привилегии администратора: @item.StringStatus</small></h3>
                    @foreach (var worker in item.UserPlusWorkers)
                    {
                        <div class="list-item-worker">
                            <h4>@worker.FirstName @worker.SecondName <span class="span-email">@worker.Email</span>
                            <span>
                                 @if (worker.InviteCode == null)
                            {
                                <a asp-action="EditAdmin" id="active-link" asp-controller="Data" asp-route-id="@worker.ID">
                                    <span><i style="font-size:14px" class="material-icons">edit</i></span></a>
                            }
                            else
                            {
                                <a asp-action="EditWorker" id="active-link" asp-controller="Data" asp-route-id="@worker.ID">
                            <span><i style="font-size:14px" class="material-icons">edit</i></span></a>
                                <a asp-action="DeleteWorker" id="active-link" asp-controller="Data" asp-route-id="@worker.ID">
                            <span><i style="font-size:14px" class="material-icons">highlight_off</i></span></a>
                            }
                            </span>

                            </h4>
                            @if (@worker.Email != null && @worker.RegistrationDate != null)
                            {
                                <h5>Зарегистрировался: @worker.RegistrationDate</h5>
                            }
                            else
                            {
                                <h5>Ещё не активирован</h5>

                            }

                            @if (worker.InviteCode == null)
                            {
                                <p>Создатель хаба</p>
                            }
                            else
                            {
                                <p>Инвайт-код: @worker.InviteCode</p>
                            }
                           
                        </div>

                    }
            }
        </div>
    </div>
</div>