@model IEnumerable<EnterChatWeb.Models.Worker> 
@using System.Security.Claims

<h1>Панель управления компанией @User.FindFirst(x => x.Type == "Company").Value</h1>
<h2>Информация</h2>
<p>Здесь можно будет посмотреть информацию о компании и изменить её</p>
<h2>Список работников</h2>
<a asp-action="AddWorker">Добавить сотрудника</a>
<table class="table">
    <tr><td>Имя</td><td>Фамилия</td><td>Админ?</td><td>Инвайт-код</td></tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.FirstName</td>
        <td>@item.SecondName</td>
        <td>@item.StringStatus</td>
        @if (item.InviteCode == null)
    {
        <td>Нет</td> }
else
{
    <td>@item.InviteCode</td>}
        <td>
            <a asp-action="Edit" asp-controller="Data" asp-route-id="@item.ID">Изменить</a>
            <a asp-action="Delete" asp-controller="Data" asp-route-id="@item.ID">Удалить</a>
        </td>
    </tr>
    }
</table>