@model IEnumerable<EnterChatWeb.Models.NoteCategory>

<head>
    <title>Заметки</title>
</head>

<h1 id="page-header">Заметки компании</h1>
@if (Model.Count() > 0)
{
    <a class="btn btn-primary" asp-action="AddNote" asp-controller="Data">Добавить заметку</a>
}
<a class="btn btn-primary" asp-action="AddNoteCategory" asp-controller="Data">Добавить категорию</a>
<div class="list-group">
    @foreach (NoteCategory noteCategory in Model)
    {
        <h3>@noteCategory.Title (@noteCategory.Notes.Count()):</h3>
        <div class="list-group">
            @foreach (var note in noteCategory.Notes)
            {

                <div class="list-group-item col-xs-6">
                    <h4>@note.Title</h4>
                    <p>@note.Text</p>
                    <p>Создан: @note.CreationDate</p>
                    <p>Автор: @note.UserPlusWorker.FirstName @note.UserPlusWorker.SecondName @note.UserPlusWorker.Email</p>
                    <p>Отдел: @note.UserPlusWorker.DepartmentName</p>
                    <a asp-action="EditNote" asp-controller="Data" asp-route-id="@note.ID">Изменить</a>
                    <a asp-action="DeleteFile" asp-controller="Data" asp-route-id="@note.ID">Удалить</a>
                </div>
            }
        </div>
    }
</div>