@model IEnumerable<EnterChatWeb.Models.NoteCategory>

<head>
    <title>Заметки</title>
</head>

<nav class="navbar page-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3>Заметки компании</h3>
        </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right:260px; margin-top:10px;">
            <li class="dropdown">
                <a class="dropdown-toggle" id="my-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (Model.Count() > 0)
                    {
                        <li><a asp-action="AddNote" class="main-menu-list-item">Добавить заметку</a></li>
                    }
                    <li><a asp-action="AddNoteCategory" class="main-menu-list-item">Добавить категорию</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="first-head">
    <div class="container-fluid info-card" style="padding-bottom: 10px">
        <div class="grid-container">
            @foreach (NoteCategory noteCategory in Model)
            {
            <div>
            <h3>@noteCategory.Title (@noteCategory.Notes.Count()):</h3>

                @foreach (var note in noteCategory.Notes)
                {

                <div class="list-item-note">
                    <h4>@note.Title</h4>
                    <p>@note.Text</p>
                    <p>Создан: @note.CreationDate</p>
                    <p>Автор: @note.UserPlusWorker.FirstName @note.UserPlusWorker.SecondName @note.UserPlusWorker.Email</p>
                    <p>Отдел: @note.UserPlusWorker.DepartmentName</p>
                    <a asp-action="EditNote" asp-controller="Data" asp-route-id="@note.ID">
                    <span><i class="material-icons">settings</i></span></a>
                    <a asp-action="DeleteFile" asp-controller="Data" asp-route-id="@note.ID">
                    <span><i class="material-icons">highlight_off</i></span></a>
                </div>
                }
            </div>
    }
            </div>
        </div>
</div>
