@model IEnumerable<EnterChatWeb.Models.Topic>
@using System.Security.Claims
<head>
    <title>Обсуждения</title>
</head>

<nav class="navbar page-header">
<div class="container-fluid">
    <div class="navbar-header">
        <h3>Обсуждения компании</h3>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right:260px; margin-top:10px;">
        <li><a id="my-main-button" asp-action="AddTopic" asp-controller="Data">
            <span><i class="material-icons">add</i></span></a></li>
    </ul>
</div>
</nav>

<div class="first-head">
    <div class="container-fluid info-card">
        <div class="container-fluid info-shit" style="padding-top: 10px;">
    @foreach (Topic topic in Model)
    {
        <div class="list-item-note">
            <h4><a asp-action="TopicChat" id="active-link" asp-controller="Data" asp-route-id="@topic.ID">@topic.Title</a></h4>
            <div style="display:inline">
                <p style="display:inline-block">Участники: </p>
                @foreach (var member in topic.WorkerChatMembers)
                {
                    <p style="display:inline-block">[@member.FullName] </p>
                }
            </div>

            <p>Создан: @topic.CreationDate</p>
            @if (Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value) == topic.UserID)
            {
                <a asp-action="EditTopicTitle" id="active-link" asp-controller="Data" asp-route-id="@topic.ID">
                <span><i class="material-icons">edit</i></span></a>
                <a asp-action="DeleteTopic" id="active-link" asp-controller="Data" asp-route-id="@topic.ID">
                <span><i class="material-icons">highlight_off</i></span></a>
                <a asp-action="DeleteChatMember" id="active-link" asp-controller="Data" asp-route-id="@topic.ID">
                <span><i class="material-icons">person_outline</i></span></a>
                <a asp-action="AddChatMember" id="active-link" asp-controller="Data" asp-route-id="@topic.ID">
                <span><i class="material-icons">person_add</i></span></a>
            }
            else
            {
                <a asp-action="LeaveTopicChat" asp-controller="Data" asp-route-id="@topic.ID">Покинуть чат</a>
            }
        </div>
    }
            </div>
</div>
</div>

