@model EnterChatWeb.Models.ExtraModel.TopicMessagePlusUser
<head>
    <title>Пользовательский чат</title>
</head>

<h1>Чат "@Model.TopicTitle"</h1>

<div id="msgs">
    @foreach (TopicMessage message in Model.TopicMessages)
    {
        <p>
            @message.UserPlusWorker.FirstName
        @message.UserPlusWorker.SecondName: @message.Text @message.CreationDate
    </p>
}
</div>
<div style="position:absolute;height:20px;bottom:10px;left:0; display:inline;width:100%">
    <input type="text" style="max-width:unset;width:100%;max-width:80%" id="MessageField"
           placeholder="type message and press enter" data-name="@Model.FirstName @Model.SecondName" data-id="@Model.TopicID"/>
    <p style="display:inline-block"><a class="btn btn-primary" id="sendBtn" asp-action="">Отправить</a></p>
</div>

@section Scripts{
    <script>
        $(function () {
            var userName = "testUser";

            var protocol = location.protocol === "https:" ? "wss:" : "ws:";
            var wsUri = protocol + "//" + window.location.host;
            var socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
            };

            socket.onclose = function (e) {
                console.log("socket closed", e);
            };

            socket.onmessage = function (e) {
                console.log(e);
                var now = new Date();

                var month = now.getMonth() + 1;
                var secs = now.getSeconds();
                var mins = now.getMinutes();
                var hours = now.getHours();
                if (month < 10) month = '0' + month;
                if (secs < 10) secs = '0' + secs;
                if (mins < 10) mins = '0' + mins;
                if (hours < 10) hours = '0' + hours;

                var stringDate = now.getUTCDate() + '.' + month + '.' + now.getFullYear() +
                    ' ' + hours + ':' + mins + ':' + secs;
                var jacksRank = $("#MessageField").data("name");

                var string = new String(e.data);
                var index = string.indexOf('|');
                var header = string.substring(0, index + 1);
                var trueMessage = string.replace(header, '');

                $('#msgs').append('<p>' + jacksRank + ': ' + trueMessage + ' ' + stringDate + '</p>');
            };

            socket.onerror = function (e) {
                console.error(e.data);
            };

            /*$('#MessageField').keypress(function (e) {
                if (e.which != 13) {
                    return;
                }

                e.preventDefault();

                var jacksRank = $("#MessageField").data("firstname");
                var message = jacksRank + ": " + $('#MessageField').val();
                socket.send(message);
                $('#MessageField').val('');
            });*/
            document.getElementById("sendBtn").addEventListener("click", function (e) {
                e.preventDefault();
                if ($('#MessageField').val().length != 0) {
                    var topicId = $("#MessageField").data("id");
                    var message = topicId + '|' + $('#MessageField').val();
                    socket.send(message);
                    $('#MessageField').val('');

                }

            });
        });
    </script>
}