@model IEnumerable<EnterChatWeb.Models.Department>
<head>
    <title>Сотрудники</title>
</head>

<h1>Список сотрудников (@Model.Count()):</h1>

<div class="list-group">

    @foreach (var item in Model)
    {
        <h3>@item.Title</h3>
        <p>Привилегии администратора? @item.StringStatus</p>
        @foreach (var worker in item.Workers)
        {
            <div class="list-group-item col-xs-6">
                <h4>@worker.FirstName @worker.SecondName</h4>
            </div>

        }
    }

</div>