@model IEnumerable<EnterChatWeb.Models.UserPlusWorkerModel>

<head>
    <title>Сотрудники</title>
</head>

<h1>Список сотрудников (@Model.Count()):</h1>

<div class="list-group">


    @foreach (var item in Model)
    {

        <div class="list-group-item col-xs-6">
            <h4>@item.FirstName @item.SecondName</h4>
            <p>Админ? @item.StringStatus</p>
            <p>@item.Email</p>
        </div>
    }
</div>